# Explain about list

A list in Python is an ordered collection of elements. It's a versatile data structure that can hold items of various data types, including numbers, strings, other lists, and even custom objects.

**Key characteristics of lists:**:

**Ordered**: Elements in a list are stored in a specific order, and their position (index) can be used to access them.

**Changeable**: You can modify, add, or remove elements from a list after it's created.

**Changeable**: You can modify, add, or remove elements from a list after it's created.

**Dynamic**: The size of a list can change dynamically as you add or remove elements.

# Indexing:

**Elements in a list are accessed using their index, which starts from 0.**

**You can use positive indices to access elements from the beginning and negative indices to access elements from the end.**

# Slicing:

You can extract a subset of elements from a list using slicing.

# Common operations:

**Adding elements**

**Removing elements**

**Modifying elements**

**Other operations (e.g., length, sorting, reversing)**

In [21]:
numbers=[1,2,3,4,5]
print(numbers)

[1, 2, 3, 4, 5]

In [23]:
fruits = ["apple", "banana", "orange", "grape"]
print(fruits)

['apple', 'banana', 'orange', 'grape']

In [25]:
boolean_values = [True, False, True, False]
print(boolean_values)

[True, False, True, False]

In [27]:
mixed_list = [10, "hello", [1, 2, 3], True]
print(mixed_list)

[10, 'hello', [1, 2, 3], True]

In [29]:
nested_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(nested_lists)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [33]:
fruits = ["apple", "banana", "orange"]
numbers = [1, 2, 3, 4, 5]
print(fruits,numbers)
print(fruits)
print(numbers)

['apple', 'banana', 'orange'] [1, 2, 3, 4, 5]
['apple', 'banana', 'orange']
[1, 2, 3, 4, 5]

In [35]:
my_list = [10, "hello", [1, 2, 3], True]
print(my_list)

[10, 'hello', [1, 2, 3], True]

In [37]:
boolean_values = [True, False, True, False]
print(boolean_values)

[True, False, True, False]

In [39]:
mixed_list = [10, "hello", [1, 2, 3], True]
print(mixed_list)

[10, 'hello', [1, 2, 3], True]

In [41]:
shopping_list = ["milk", "eggs", "bread", "cheese", "apples"]
print(shopping_list)

['milk', 'eggs', 'bread', 'cheese', 'apples']

# Create 1 to 20 elements.10 elements positive,10 negative.

In [46]:
numbers=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
print(numbers[0])
print(numbers[1])
print(numbers[4])
print(numbers[3])
print(numbers[2])
print(numbers[5])
print(numbers[6])
print(numbers[7])
print(numbers[8])
print(numbers[9])

1
2
5
4
3
6
7
8
9
10

In [50]:
numbers=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
print(numbers[-1])
print(numbers[-2])
print(numbers[-3])
print(numbers[-4])
print(numbers[-5])
print(numbers[-6])
print(numbers[-7])
print(numbers[-8])
print(numbers[-9])
print(numbers[-10])

20
19
18
17
16
15
14
13
12
11

# Concatenation:

**Purpose**: Combines two or more lists into a single list.
    
**Operator**: The + operator is used for concatenation.

In [62]:
a = [1, 2, 3]
b = [4, 5, 6]
c=print(a+b)

[1, 2, 3, 4, 5, 6]

In [64]:
mixed=["bhanu",3.14,True]
numbers=[1,2,3,4,5]
c=print(mixed+numbers)

['bhanu', 3.14, True, 1, 2, 3, 4, 5]

In [66]:
letters=['a','b','c','d','e']
numbers=[1,2,3,4,5,6]
R=print(letters+numbers)

['a', 'b', 'c', 'd', 'e', 1, 2, 3, 4, 5, 6]

In [68]:
fruits = ["apple", "banana", "orange", "grape"]
numbers = [1, 2, 3, 4, 5]
y=print(fruits+numbers)

['apple', 'banana', 'orange', 'grape', 1, 2, 3, 4, 5]

In [72]:
mixed_list = ["hello", 10, True, [1, 2, 3]]
numbers=[1,2,3,45,65]
print(mixed_list+numbers)

['hello', 10, True, [1, 2, 3], 1, 2, 3, 45, 65]

In [74]:
numbers = [1, 2, 3, 4, 5]
fruits = ["apple", "banana", "cherry"]
print(numbers+fruits)

[1, 2, 3, 4, 5, 'apple', 'banana', 'cherry']

In [76]:
mixed = [1, "hello", 3.14, True]
numbers = [1, 2, 3, 4, 5]
print(mixed+numbers)

[1, 'hello', 3.14, True, 1, 2, 3, 4, 5]

In [86]:
mixed = [1, "hello", 3.14, True]
numbers = [1, 2, 3, 4, 5]
print(mixed+numbers)

[1, 'hello', 3.14, True, 1, 2, 3, 4, 5]

In [92]:
a=[1,4,6,7]
b=["h","d","e","g","h"]
c=print(a+b)

[1, 4, 6, 7, 'h', 'd', 'e', 'g', 'h']

In [94]:
a=[1,23,4554,323,43]
n=[1,2,3,4,5]
c=print(a+n)

[1, 23, 4554, 323, 43, 1, 2, 3, 4, 5]

# repetition

Repetition in Python refers to the process of repeating a specific block of code multiple times. This is often achieved using loops.

In [100]:
a=[1,23,4554,323,43]
c=print(a*4)

[1, 23, 4554, 323, 43, 1, 23, 4554, 323, 43, 1, 23, 4554, 323, 43, 1, 23, 4554, 323, 43]

In [102]:
b=["h","d","e","g","h"]
a=print(b*3)

['h', 'd', 'e', 'g', 'h', 'h', 'd', 'e', 'g', 'h', 'h', 'd', 'e', 'g', 'h']

In [104]:
n=[1,2,3,4,5]
q=print(n*3)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [106]:
mixed = [1, "hello", 3.14, True]
a=print(mixed*2)

[1, 'hello', 3.14, True, 1, 'hello', 3.14, True]

In [108]:
a=[1,4,6,7]
s=print(a*5)

[1, 4, 6, 7, 1, 4, 6, 7, 1, 4, 6, 7, 1, 4, 6, 7, 1, 4, 6, 7]

In [110]:
fruits = ["apple", "banana", "cherry"]
s=print(fruits*5)

['apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry']

In [112]:
letters=['a','b','c','d','e']
a=print(letters*5)

['a', 'b', 'c', 'd', 'e', 'a', 'b', 'c', 'd', 'e', 'a', 'b', 'c', 'd', 'e', 'a', 'b', 'c', 'd', 'e', 'a', 'b', 'c', 'd', 'e']

In [114]:
mixed=["bhanu",3.14,True]
a=print(mixed*4)

['bhanu', 3.14, True, 'bhanu', 3.14, True, 'bhanu', 3.14, True, 'bhanu', 3.14, True]

In [116]:
mixed_list = ["hello", 10, True, [1, 2, 3]]
a=print(mixed_list*3)

['hello', 10, True, [1, 2, 3], 'hello', 10, True, [1, 2, 3], 'hello', 10, True, [1, 2, 3]]

In [118]:
fruits = ["apple", "banana", "orange", "grape"]
q=print(fruits*3)

['apple', 'banana', 'orange', 'grape', 'apple', 'banana', 'orange', 'grape', 'apple', 'banana', 'orange', 'grape']

# slicing examples

In [1]:
a=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
b=a[1:5]
c=a[0:]
d=a[9:14]
e=a[:19]
f=a[-4:-14]
g=a[-1:-20]
h=a[-19:]
i=a[0:20]
j=a[10:20]
k=a[1:1]
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)
print(i)
print(j)
print(k)

[2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[10, 11, 12, 13, 14]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[]
[]
[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[]

# to change list items

#to change the value of a specific item,refer to the index number:

In [7]:
list=["apple","banana","cherry"]
print(list)
list[0]=("mango")
print(list)

['apple', 'banana', 'cherry']
['mango', 'banana', 'cherry']

when we want to change multiple items then we have to use slicing

In [10]:
list=['apple','banana','cherry','orange','kiwi']
list[2:3]=['str','waterm','musk']
print(list)

['apple', 'banana', 'str', 'waterm', 'musk', 'orange', 'kiwi']

# list methods

# append()

List appending refers to the process of adding new elements to the end of an existing list in Python. This operation is performed using the append() method.

In [21]:
numbers=[1,2,3,4,5,6,7,8]
numbers.append(34)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 34]

In [29]:
fruits=['apple','banana','straberry','pineapple']
fruits.append('mango')
print(fruits)

['apple', 'banana', 'straberry', 'pineapple', 'mango']

In [38]:
letters=['a','b','c','d','e','f','g','h']
letters.append('j')
print(letters)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'j']

In [40]:
mixed=['a',2,3.14,1+4j,True]
mixed.append(False)
print(mixed)

['a', 2, 3.14, (1+4j), True, False]

# extend()

#It's efficient for adding multiple elements from an iterable to a list
#The extend() method modifies the original list in-place, meaning it doesn't create a new list.

In [44]:
numbers=[1,2,3,4,5,6,7,8]
moreno=[10,11,12,13,15]
numbers.extend(moreno)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 15]

In [48]:
fruits=['apple','banana','straberry','pineapple']
morefruits=['mango','kiwi','orange']
fruits.extend(morefruits)
print(fruits)

['apple', 'banana', 'straberry', 'pineapple', 'mango', 'kiwi', 'orange']

In [50]:
letters=['a','b','c','d','e','g']
morelrtters=['f','i','j','k','l','m']
letters.extend(morelrtters)
print(letters)

['a', 'b', 'c', 'd', 'e', 'g', 'f', 'i', 'j', 'k', 'l', 'm']

In [56]:
keywords=['if','and',True,'False']
morekeywords=['elif','from','or','while']
keywords.extend(morekeywords)
print(keywords)

['if', 'and', True, 'False', 'elif', 'from', 'or', 'while']

# insert

The insert() method is a built-in function in Python that is used to insert an element at a specific index within an existing list. This allows you to modify the structure of the list by adding elements at desired positions.

In [61]:
numbers=[1,2,3,4,5]
numbers.insert(1,8)
print(numbers)

[1, 8, 2, 3, 4, 5]

In [63]:
letters=['a','b','c','d','e','g']
letters.insert(4,'v')
print(letters)

['a', 'b', 'c', 'd', 'v', 'e', 'g']

In [65]:
morelrtters=['f','i','j','k','l','m']
morelrtters.insert(2,5)
print(morelrtters)

['f', 'i', 5, 'j', 'k', 'l', 'm']

In [69]:
moreno=[10,11,12,13,15]
moreno.insert(3,'t')
print(moreno)

[10, 11, 12, 't', 13, 15]

In [75]:
fruits=['apple','banana','straberry','pineapple']
fruits.insert(2,'kiwi')
print(fruits)

['apple', 'banana', 'kiwi', 'straberry', 'pineapple']

# remove()

The remove() method is a built-in function in Python that is used to remove the first occurrence of a specified element from a list.

In [73]:
numbers=[1,2,3,4,5,6,7]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5, 6, 7]

In [77]:
fruits=['apple','banana','straberry','pineapple']
fruits.remove('banana')
print(fruits)

['apple', 'straberry', 'pineapple']

In [79]:
numbers=[1,2,3,4,5,1,2,1,2,3,4,4]
numbers.remove(2)
numbers.remove(1)
numbers.remove(1)
print(numbers)

[3, 4, 5, 2, 1, 2, 3, 4, 4]

# pop()

Removes the item at a specified index (or the last item if no index is given) and returns it.

In [83]:
my_list = [1, 2, 3, 4, 5]
a= my_list.pop()
print(a)  
print(my_list)   
b= my_list.pop(2)
print(b)  
print(my_list)

5
[1, 2, 3, 4]
3
[1, 2, 4]

In [85]:
fruits=['apple','banana','straberry','pineapple']
fruits.pop(1)
print(fruits)

['apple', 'straberry', 'pineapple']

In [87]:
numbers=[[1,2],[2,3],[2,4],[5,1]]
numbers.pop(2)
print(numbers)

[[1, 2], [2, 3], [5, 1]]

# index

Returns the index of the first occurrence of a specified item.

In [103]:
my_list = ['apple', 'banana', 'cherry']
index=my_list.index('banana')
print(index)
index=my_list.index('cherry')
print(index)

1
2

In [101]:
numbers=[1,2,3,4,5,6,7,8,9,10,11,12]
index=numbers.index(6)
print(index)

5

# count

Returns the number of occurrences of a specified item in the list.

In [105]:
numbers=[1,2,3,2,2,3,4,5,6,7,75,543]
count=numbers.count(2)
print(count)

3

In [107]:
my_list = ['apple', 'banana', 'cherry','banana','apple']
count=my_list.count('banana')
print(count)

2

# sort

Sorts the elements of the list in ascending order (or descending order if reverse=True).

In [111]:
numbers=[1,2,3,2,2,3,4,5,6,7,75,543]
numbers.sort()
print(numbers)

[1, 2, 2, 2, 3, 3, 4, 5, 6, 7, 75, 543]

In [115]:
my_list = ['apple', 'banAna', 'cheRry','BAnana','apple']
my_list.sort()
print(my_list)

['BAnana', 'apple', 'apple', 'banAna', 'cheRry']

# reverse

In [120]:
numbers=[1,2,3,2,2,3,4,5,6,7,75,543]
numbers.reverse()
print(numbers)

[543, 75, 7, 6, 5, 4, 3, 2, 2, 3, 2, 1]

In [ ]:
my_list = ['apple', 'banAna', 'cheRry','BAnana','apple']