# Tuple

Tuples in Python are immutable sequences of elements. Unlike lists, which can be modified after creation, tuples are fixed and cannot be changed once defined.

**Immutable**: Elements cannot be added, removed, or modified after creation.

**Ordered**: Elements maintain their order and can be accessed by index.

**Heterogeneous**: They can contain elements of different data types.

**Created using parentheses**: Tuples are typically defined using parentheses ().

# Concatenation:
Combine two or more tuples using the + operator.

In [4]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
result = tuple1 + tuple2
print(result)

(1, 2, 3, 4, 5, 6)

In [6]:
tuple1 = (1, 2)
tuple2 = (3, 4)
tuple3 = (5, 6)
result = tuple1 + tuple2 + tuple3
print(result)

(1, 2, 3, 4, 5, 6)

#  Repetitions

Repeat a tuple using the * operator.

In [11]:
tuple1 = (1, 2, 3)
print(tuple1*3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [13]:
tuple2=('apple','banana','kiwi')
print(tuple2*6)

('apple', 'banana', 'kiwi', 'apple', 'banana', 'kiwi', 'apple', 'banana', 'kiwi', 'apple', 'banana', 'kiwi', 'apple', 'banana', 'kiwi', 'apple', 'banana', 'kiwi')

# count()

The count() method returns the number of occurrences of a specified element in the tuple.

In [19]:
numbers= (1, 2, 3, 1, 1, 4, 5)
count=numbers.count(1)
print(count)

3

In [21]:
my_list = ('apple', 'banana', 'cherry','banana','apple')
count=my_list.count('banana')
print(count)

2

# index()